<% if @survey_question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@survey_question.errors.count, "error") %> prohibited this survey_question from being saved:</h2>

    <ul>
    <% @survey_question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :ordinal, 'Question' %>
  <%= form.number_field :ordinal, style: 'width: 4rem;' %>
  <%= form.label :survey_questionnaire_id, 'in' %>
  <%= form.select :survey_questionnaire_id, @questionnaire.cohort.surveys.pluck(:title, :id) %>
</div>
<div class="field">
  <%= form.label :prompt %><br>
  <%= form.text_area :prompt, class: 'markdown' %>
  <iframe class="markdown-preview" src="http://about:blank" height="1"></iframe>
</div>
<%= form.fields_for :topics do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<% end %>
<%= form.fields_for form.object.topics.new do |f| %>
  <div class="field">
    <%= f.label :name, 'Topic' %>
    <%= f.text_field :name %>
  </div>
<% end %>
<div class="field">
  <label class="button">
    <%= check_box_tag :multiple_choice, "1", form.object.new_record? || form.object.options.any? %>
    <%= label_tag :multiple_choice, 'Multiple Choice' %>
  </label>
  <label class="button">
    <%= form.check_box :open_ended %>
    <%= form.label :open_ended, 'Open Ended' %>
  </label>
</div>
<div class="tab-content">
  <div class="options field">
    <ul class="question__options" style="margin-top: 0; margin-bottom: 0; list-style-type: circle;">
			<%= form.fields_for :options do |f| %>
				<li class="question__option">
					<%= f.hidden_field :_destroy, class: 'question__option__destroy' %>
          <%= f.text_field :label, style: 'width: 66%', class: 'question__option_label' %>
          <%= f.range_field :value, min: 0, max: 1, step: 0.25, style: 'width: 32%; vertical-align: -70%;' %>
          <output for="<%= f.object_name %>[value]">&mdash;</output>
        </li>
      <% end %>
      <li class="open_end"><input type="text" disabled="true" value="Other (Specify)"></li>
    </ul>
  </div>
  <div class="open_end field">
    <%= form.label :format %><br>
    <%= form.select :format, Survey::Question::FORMATS, selected: form.object.format || "" %>
  </div>
  <div class="open_end field">
    <%= form.label :evaluation %><br>
    <%= form.text_area :evaluation %>
  </div>
</div>
