<div class="large container">
  <br />
  <h2><%= @questionnaire.ordinal %>. <%= @questionnaire.title %></h2>

  <%= form_for(@survey_question) do |form| %>
    <%= render form %>
    <div class="actions">
      <%= form.submit %>
      <%= link_to 'Cancel', [@questionnaire, :questions] %>
    </div>

  <% end %>
</div>
