<p id="notice"><%= notice %></p>
<div class="medium container">
  <br />
  <h2><%= @questionnaire.ordinal %>. <%= @questionnaire.title %></h2>
  <hr />

  <% @survey_questions.each do |survey_question| %>
      <h4>Q<%= survey_question.ordinal %>.</h4>
      <%= survey_question.prompt_html %>
      <% if survey_question.options.any? %>
        <ul style="list-style-type: circle">
          <% survey_question.options.each do |option| %>
            <li><%= option.label %></li>
          <% end %>
          <% if survey_question.open_ended? %>
            <li>Other (Specify)</li>
          <% end %>
        </ul>
      <% else %>
        <textarea disabled></textarea>
      <% end %>
      <div style="text-align: right;">
        <%= link_to 'Remove Question', survey_questionnaire_question_path(params[:questionnaire_id], survey_question), method: :delete, data: { confirm: 'Are you sure?' }, style: 'color: #CCCCCC; text-decoration: none;' %>
        &nbsp;&nbsp;<%= link_to 'Update Prompt', edit_survey_questionnaire_question_path(params[:questionnaire_id], survey_question), class: 'button' %>
        <%= link_to 'Responses', survey_questionnaire_question_path(params[:questionnaire_id], survey_question), class: 'secondary button' %>
      </div>
      <hr />
  <% end %>

  <%= link_to 'New Question', new_survey_questionnaire_question_path, class: 'button' %>
  <%= link_to 'Cancel', @questionnaire.cohort %>
</div>
