<p id="notice"><%= notice %></p>

<div class="large container">
  <h2>New Question</h2>

  <%= form_for(@survey_question) do |form| %>
    <%= render form %>
    <div class="actions" style="text-align: center;">
      <%= form.submit class: 'large primary' %>
      <%= link_to 'Finished', url_for(action: :index) %>
    </div>
    <br />
  <% end %>

</div>
