<p id="notice"><%= notice %></p>

<div class="medium container">

  <h4>Q<%= @survey_question.ordinal %>.</h4>

  <%= @survey_question.prompt_html %>

  <p>
    <strong>Topics:</strong>
    <%= @survey_question.topics %>
  </p>

  <% @survey_question.answers.each do |answer| %>
    <%= answer %>
  <% end %>

  <p>
    <strong>Open ended:</strong>
    <%= @survey_question.open_ended %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= @survey_question.format %>
  </p>

  <p>
    <strong>Valuation:</strong>
    <%= @survey_question.valuation %>
  </p>

  <%= link_to 'Back to Questions', survey_questionnaire_questions_path(@survey_question.questionnaire) %>

</div>
