<div class="cohort__banner" style="background-image: url('<%= cohort_path(cohort, format: 'jpg') %>')">
	<div class="large container">
		<h3 style="float: right; text-align: right;">
			<%= link_to cohort.course.name, cohort.course, class: 'white' %><br />
			<%= link_to cohort.campus.name, cohort.campus, class: 'white' %>
		</h3>
		<h1><%= link_to cohort.name, cohort, class: 'white' %></h1>

		<div style="overflow: auto;">
			<progress min="0" max="<%= cohort.ends_at - cohort.begins_at %>" value="<%= Time.now - cohort.begins_at %>"></progress>
			<div class="cohort_beings-at" style="float: left;">
				<%= cohort.begins_at.to_date.to_s(:long) %>
			</div>
			<div class="cohort_ends-at" style="float: right;">
				<%= cohort.ends_at.to_date.to_s(:long) %>
			</div>
			<div class="cohort_current" style="text-align: center;"><%= Time.current.to_date.to_s(:long) %></div>
		</div>
	</div>
</div>
