<p id="notice"><%= notice %></p>

<%= render @cohort %>

<div class="large container">

	<% cache [@cohort, 'cohort_students'] do %>
		<div id="cohort_students" draggable="true">
			<h3>STUDENTS</h3>
			<ul style="list-style-type: none; margin:0; padding:0;">
				<% @cohort.students.order(:first_name).each do |student| %>
					<li>
						<%= link_to cohort_student_path(@cohort, student), remote: true do %>
							<%= render student %>
							<% end %>
					</li>
				<% end %>
			</ul>
			<% if @cohort.drops.any? %>
				<hr />
				<details>
					<summary><%= pluralize @cohort.drops.count, 'Drop' %></summary>
					<ul style="list-style-type: none; margin: 0; padding: 0;">
						<% @cohort.drops.order(:first_name).each do |student| %>
							<li>
								<%= link_to cohort_student_path(@cohort, student), remote: true do %>
									<%= render student %>
									<% end %>
							</li>
						<% end %>
					</ul>
				</details>
			<% end %>
		</div>
	<% end %>

	<% cache [@cohort, 'groups_ui'] do %>
		<div id="groups_ui" style="display: none">
			<ul>
				<% max_groups = (@cohort.students.count.to_f/2).ceil %>
				<% (1..max_groups).each do |i| %>
					<li><label><%= i %>
						<% if i == max_groups %>
							<div>Pairs</div>
						<% elsif i == @cohort.instructors.count + @cohort.associates.count %>
							<div>Instructional Team</div>
						<% elsif i == @cohort.instructors.count %>
							<div>Instructors</div>
						<% end %>
					</label></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<% cache [@cohort, params[:browse]] do %>

		<div id="students_content">
			<div>
				<nav style="width: 100%">
					<ul>
						<li>
							<%= link_to survey_questionnaires_path do %>
								<svg width="72" height="72" viewbox="-4 -4 16 16">
									<circle cx=4 cy=4 r=8 fill=black />
									<path d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm2 1l-3 1-1 3 3-1 1-3zm-2 1.5c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5z" fill=white />
								</svg>
								<div>Surveys</div>
							<% end %>
						</li>
						<li>
							<%= link_to cohort_groups_path(@cohort) do %>
								<svg width="72" height="72" viewbox="-4 -5 16 16">
									<circle cx=4 cy=3 r=8 fill=black />
								  <path d="M.75 0c-.41 0-.75.34-.75.75v5.5c0 .41.34.75.75.75h6.5c.41 0 .75-.34.75-.75v-5.5c0-.41-.34-.75-.75-.75h-6.5zm.25 1h1v1h-1v-1zm2 0h4v1h-4v-1zm-2 2h1v1h-1v-1zm2 0h4v1h-4v-1zm-2 2h1v1h-1v-1zm2 0h4v1h-4v-1z" fill="white" />
								</svg>
								<div>Groups</div>
							<% end %>
						</li>
						<li>
							<svg width="72" height="72" viewbox="-4 -4 16 16">
								<circle cx=4 cy=4 r=8 fill=black />
								<path d="M0 0v1h8v-1h-8zm0 2v5.91c0 .05.04.09.09.09h7.81c.05 0 .09-.04.09-.09v-5.91h-2.97v1.03h-2.03v-1.03h-3z" fill=white />
							</svg>
							<div>Installs</div>
						</li>
						<li>
							<svg width="72" height="72" viewbox="-4 -4 16 16">
								<circle cx=4 cy=4 r=8 fill=black />
								<path d="M4.5 0c-1.21 0-2.27.86-2.5 2-1.1 0-2 .9-2 2s.9 2 2 2h4.5c.83 0 1.5-.67 1.5-1.5 0-.65-.42-1.29-1-1.5v-.5c0-1.38-1.12-2.5-2.5-2.5z" transform="translate(0 1)" fill="white" />
							</svg>
							<div>Github</div>
						</li>
						<% if policy(@cohort).edit? %>
							<li>
								<%= link_to edit_cohort_path(@cohort) do %>
									<svg width="72" height="72" viewbox="-4 -4 16 16">
										<circle cx=4 cy=4 r=8 fill=black />
										<path d="M0 0v7h7v-3.59l-1 1v1.59h-5v-5h3.59l1-1h-5.59zm7 0l-3 3-1-1-1 1 2 2 4-4-1-1z" transform="translate(0.5,0.5)" fill=white />
									</svg>
									<div>Settings</div>
								<% end %>
							</li>
						<% end %>
					</ul>
				</nav>
			</div>

			<hr />

			<div id="instructional-team">
				<nav>
					<ul>
						<% @cohort.functions.eager_load(:employee => :user).each do |function| %>
							<li><%= render function %></li>
						<% end %>
					</ul>
				</nav>
			</div>

			<% if @forks %>
				<select>
					<% @forks.call.each do |fork| %>
						<option><%= fork[:full_name] %></option>
					<% end %>
				</select>
				<% end %>

			<% if @files %>
				<h3 style="float:left">FILES</h3>
				<% if (parent = params[:browse].split('/')[0..-2]).length > 0 %>
					<div style="float: left; line-height: 3rem; margin-left: 1em; font-size: 0.9rem;">
						<%= link_to "Back to Parent", browse: parent.join('/') %>
					</div>
				<% end %>
				<table>
					<% @files.call.each do |file| %>
						<tr>
							<% case file[:type] %>
							<% when "dir" %>
								<td style="width: 1.5rem; text-align: center;">
									<svg style="height: 1rem;" viewBox="0 0 8 8">
										<path d="M0 0v2h8v-1h-5v-1h-3zm0 3v4.5c0 .28.22.5.5.5h7c.28 0 .5-.22.5-.5v-4.5h-8z" />
									</svg>
								</td>
								<td>
									<%= link_to file[:name].gsub(/^u([0-9])/, 'unit \1:').gsub(/^d0*([0-9]+)/, 'day \1:').titleize, browse: [params[:browse], file[:name]].join('/') %>
								</td>
								<td>
									<a href="<%= file[:html_url] %>" target="github.com">/<%= file[:name] %></a>
								</td>
							<% else %>
								<td style="width: 1.5rem; text-align: center;">
									<svg style="height: 1rem;" viewBox="0 0 8 8">
										<path d="M0 0v8h7v-4h-4v-4h-3zm4 0v3h3l-3-3z" />
									</svg>
								</td>
								<td>
									<%= file[:name] %>
								</td>
								<td style="color: #999999;">
									<%= Mime::Type.lookup_by_extension(file[:name].split('.')[1..-1].join('.')).to_s %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</table>
			<% end %>

			<% if @log %>
				<table width="100%">
					<% @log.call.each do |commit| %>
						<tr>
							<td><%= commit[:commit][:committer][:name] %></td>
							<td><%= commit[:commit][:message] %></td>
							<td width="200"><%= commit[:commit][:committer][:date] %></td>
						</tr>
					<% end %>
				</table>
				<br />
			<% end %>

		<% end %>
	</div>
</div>
