<p id="notice"><%= notice %></p>
<div class="large container">

	<h1><%= @cohort.name %></h1>

	<div style="overflow: hidden; text-align: center;">
		<div style="float: left; margin-right: 1rem;">
			<%= render @cohort.instructors %>
		</div>
		<div style="float: left; margin-right: 1rem;">
			<%= render @cohort.associates %>
		</div>
		<div style="float: left; margin-right: 1rem;">
			<%= render @cohort.assistants %>
		</div>
		<div style="float: left; margin-right: 1rem;">
			<%= render @cohort.producers %>
		</div>
	</div>

	<p>
		<strong>Campus:</strong>
		<%= @cohort.campus.name %>
	</p>

	<p>
		<strong>Course:</strong>
		<%= @cohort.course.name %>
	</p>

	<p>
		<strong>Begins at:</strong>
		<%= @cohort.begins_at %>
	</p>

	<p>
		<strong>Ends at:</strong>
		<%= @cohort.ends_at %>
	</p>

	<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
	<%= link_to 'Back', cohorts_path %>
</div>
