<%= content_tag_for :div, employee, draggable: true, class: 'employee' do %>
	<div class="employee__gravatar"><%= image_tag gravatar_url(employee.email, 48), draggable: false %></div>
	<div class="employee__name">
		<span class="first"><%= employee.first_name %></span>
		<span class="last"><%= employee.last_name %></span>
	</div>
	<div class="employee__title"><%= employee.title %></div>
<% end %>
