<% if form.object.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

		<ul>
			<% @employee.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="field">
	<%= form.label :first_name %>
	<%= form.text_field :first_name %>
</div>
<div class="field">
	<%= form.label :last_name %>
	<%= form.text_field :last_name %>
</div>
<div class="field">
	<%= form.label :title %>
	<%= form.text_field :title %>
</div>
<div class="field">
	<%= form.label :email %>
	<%= form.text_field :email %>
</div>
<%= form.fields_for :user do |user_form| %>
	<div class="field">
		<%= user_form.label :password %>
		<%= user_form.password_field :password %>
	</div>
	<div class="field">
		<%= user_form.label :password_confirmation %>
		<%= user_form.password_field :password_confirmation %>
	</div>
<% end %>
<div class="field">
	<%= form.label :campus_id %>
	<%= form.select :campus_id, Campus.pluck(:name, :id) %>
</div>
<div class="field">
	<%= form.check_box :admin %>
	<%= form.label :admin %>
</div>
