<p id="notice"><%= notice %></p>
<div class="large container">
	<%= image_tag gravatar_url(@employee.email, 256), align: 'left', width: 256, height: 256 %>
	<h1><%= @employee.name %></h1>

	<p>
		<strong>Title:</strong>
		<%= @employee.title %>
	</p>

	<p>
		<strong>Email:</strong>
		<%= @employee.email %>
	</p>

	<p>
		<strong>Campus:</strong>
		<%= @employee.campus.name %>
	</p>

	<%= link_to 'Edit', edit_employee_path(@employee) %> |
	<%= link_to 'Destroy', @employee, method: :delete, data: { confirm: 'Are you sure?' } %> | 
	<%= link_to 'Back', employees_path %>
</div>
