<p id="notice"><%= notice %></p>

<h1>Listing Survey Responses</h1>

<table>
  <thead>
    <tr>
      <th>Survey questionnaire</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_responses.each do |survey_response| %>
      <tr>
        <td><%= survey_response.survey_questionnaire %></td>
        <td><%= survey_response.student %></td>
        <td><%= link_to 'Show', survey_response %></td>
        <td><%= link_to 'Edit', edit_survey_response_path(survey_response) %></td>
        <td><%= link_to 'Destroy', survey_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_survey_response_path %>
