<% if @groups_grouping.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@groups_grouping.errors.count, "error") %> prohibited this groups_grouping from being saved:</h2>

		<ul>
			<% @groups_grouping.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="field">
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>

<div class="field">
	<%= form.label :target_group_size %>
	<%= form.number_field :target_group_size, style: 'width: 50%;' %>
	<%= form.select :target_group_strategy, [["Distributed", "distributed"], ["Random", "random"], ["Similarity", "similar"],["Difference","different"]] %>
</div>
<hr />

<div class="groups" style="overflow: auto;">
	<%= form.fields_for :groups do |group_form| %>
		<div class="group" style="width: 20%; float: left;">
			<%= group_form.text_field :name %>
			<ul style="list-style-type: none; padding: 0;">
			<%= group_form.fields_for :assignments do |assign_form| %>
				<li>
					<%= render assign_form.object.student %>
					<%= assign_form.hidden_field :_destroy %>
					<%= assign_form.hidden_field :groups_group_id %>
					<%= assign_form.hidden_field :student_id %>
				</li>
			<% end %>
		</div>
	<% end %>
</div>
