<div class="large container">
	<h2>New <%= @cohort.name %> Grouping</h2>

	<%= form_for(@groups_grouping, url: cohort_groups_path) do |form| %>
		<%= render form %>
		<div class="actions">
			<%= form.submit %>
			<%= link_to 'Cancel', cohort_groups_path %>
		</div>
	<% end %>
</div>
