<div class="large container">
  <div id="student__cohort_avatar">
    <%= image_tag gravatar_url(@student.email, 384), style: 'border: solid #EEEEEE 1px;', draggable: false %>
    <div id="student__cohort_actions">
      <% case @registration.status %>
      <% when 'dropped' %>
        <h3 style="color: white; text-align: center; background-color: rgba(250, 69, 66, 0.9)">Dropped</h3>
      <% else %>
        <div style="text-align: right;">
          <%= button_to "Drop Student", cohort_student_path(@cohort, @student), method: 'delete', class: 'button', data: { confirm: 'Are you sure you want to drop this student?' } %>
        </div>
      <% end %>
    </div>
  </div>

  <h1 style="white-space: nowrap; text-shadow: -1px 0 8px rgba(255,255,255,0.5), 1px 0 8px rgba(255,255,255,0.5);"><%= @student.name %></h1>

  <div  style="width: calc(100% - 420px); overflow: auto;">
    <svg id="students_progress-graph" viewBox="0 0 240 105" preserveAspectRatio="xMinYMin" style="height: 290px;">
      <rect x=1 y=1 width=238 height=103 stroke="#EEEEEE" fill="none" />
      <% points = @student.survey_responses.joins(:questionnaire).order('survey_questionnaires.ordinal').map { |response| response.answers.joins(:evaluations).average(:value) } %>
      <path d="
        <% points.each_with_index do |point, i| %>
          <% if i == 0 %>M<% else %>L<% end %>
          <%= i * (233/(points.count-1)) + 5 %> <%= ((1-(point||0)) * 100) + 5 %>
        <% end %>
        L 239 <%= ((1-(points.last||0)) * 100) + 5 %>
        L 239 104
        L 1 104
        L 1 <%= ((1-points[0]) * 100) + 5 %>
        L 5 <%= ((1-points[0]) * 100) + 5 %>
      " stroke-width="1" stroke="#CCCCCC" fill="#EEEEEE" />
      <% points.each_with_index do |point, i| %>
        <circle cx=<%= i * (233/(points.count-1)) + 5 %> cy=<%= ((1-(point||0)) * 100) + 5 %> r=2 fill="red" />
      <% end %>
    </svg>
  </div>

  <br />

  <div class="assessments">
    <% @student.survey_responses.joins(:questionnaire).order('survey_questionnaires.ordinal').each do |response| %>
      <div style="overflow: hidden; float: left; width: 45%; margin-right: 5%;">
        <div style="float: left; width: 75pt;">
          <%= react_component 'RadialProgress', {
              progress: (response.answers.joins(:evaluations).average(:value) || 0) * 100
            }, :prerender => true %>
        </div>
        <h3 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 75pt; margin-left: 80pt;">
          <%= response.questionnaire.ordinal %>.
          <%= response.questionnaire.title %>
        </h3>
      </div>
    <% end %>
  </div>

  <br>

</div>
