<p id="notice"><%= notice %></p>

<div class="medium container">
  <svg width="72" height="72" viewbox="-4 -4 16 16" style="float: right; margin: 0.5rem;">
    <circle cx=4 cy=4 r=8 fill=black />
    <path d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm2 1l-3 1-1 3 3-1 1-3zm-2 1.5c.28 0 .5.22.5.5s-.22.5-.5.5-.5-.22-.5-.5.22-.5.5-.5z" fill=white />
  </svg>
  <h1>Surveys</h1>

  <% @survey_questionnaires.group_by(&:cohort).each do |cohort, questionnaires| %>
    <h3><%= link_to cohort.name, cohort %></h3>
    <ol style="list-style-type: upper-roman;">
      <% questionnaires.each do |questionnaire| %>
        <li><%= link_to questionnaire.title, questionnaire %></li>
      <% end %>
    </ol>
  <% end %>

  <%= link_to 'New Questionnaire', new_survey_questionnaire_path, class: 'button' %>
  <%= link_to 'Finished', current_user.cohort %>
</div>
