<p id="notice"><%= notice %></p>
<div class="large container">

  <br>
  <div style="width: 60%; float: left;">
    <h2><%= @campus.name %></h2>
    <h3><%= @campus.timezone.now.to_s(:long) %></h3>
  </div>

  <div style="width: 35%; float: left;">

    <p>
      <strong>Address:</strong><br />
      <%= @campus.address_street %><br />
      <%= @campus.address_city %>, <%= @campus.address_state %> <%= @campus.address_code %><br />
      <strong>Phone:</strong>
      <%= @campus.phone_number %>
    </p>
  </div>

  <br style="clear: both;" />

  <% @campus.cohorts.each do |cohort| %>
    <%= render cohort %>
  <% end %>

  <br style="clear: both;" />

  <%= link_to 'Update Campus', edit_campus_path(@campus), class: 'button' if policy(@campus).edit? %>
</div>
