<p id="notice"><%= notice %></p>
<div class="large container">
  <h1><%= @course.name %></h1>

  <table>
    <% @course.cohorts.each do |cohort| %>
      <%= render cohort %>
    <% end %>
  </table>

  <%= link_to 'New Cohort', new_cohort_path(@course), class: 'button' %>
  <%= link_to 'Update Course', edit_course_path(@course), class: 'small button' %>
</div>
